<!DOCTYPE html>
<html>
    <head>

<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	animationEnabled: true,
	title:{
		text: "closing price 2020"   
	},
	axisX: {
		interval: 1,
		intervalType: "month",
		valueFormatString: "MMM"
	},
	axisY:{
		title: "Closing Price (INR)",
		includeZero: true,
		valueFormatString: " #00",
		minimum:1900 
	},
	data: [{        
		type: "line",
		markerSize: 12,
		xValueFormatString: "MMM, YYYY",
		yValueFormatString: " ###.#",
		dataPoints: [ 
            { x: new Date(2020,04,11 ), y: 2048.0  },
			{ x: new Date(2020,04,12 ), y: 2011.55 },
			{ x: new Date(2020,04,13 ), y: 1995.75 },
			{ x: new Date(2020,04,14 ), y: 2006.05 },
			{ x: new Date(2020,04,15 ), y: 2032.1  },
			{ x: new Date(2020,04,18 ), y: 2005.25 },
			{ x: new Date(2020,04,19 ), y: 1975.55 },
			{ x: new Date(2020,04,20 ), y: 1990.85 },
			{ x: new Date(2020,04,21 ), y: 1970.9  },
			{ x: new Date(2020,04,22 ), y: 1987.9  },
			{ x: new Date(2020,04,26 ), y: 1977.8  },
			{ x: new Date(2020,04,27 ), y: 1998.1  },
			{ x: new Date(2020,04,28 ), y: 2009.95 },
			{ x: new Date(2020,04,29 ), y: 2057.35 },
			{ x: new Date(2020,05,01 ), y: 2108.55 },
			{ x: new Date(2020,05,02 ), y: 2107.4  },
			{ x: new Date(2020,05,03 ), y: 2120.5  },
			{ x: new Date(2020,05,04 ), y: 2120.6  },
			{ x: new Date(2020,05,05 ), y: 2087.6  },
			{ x: new Date(2020,05,08 ), y: 2111.7  },
			{ x: new Date(2020,05,09 ), y: 2106.5  },
			{ x: new Date(2020,05,10 ), y: 2119.6  },
			{ x: new Date(2020,05,11 ), y: 2106.9  },
			{ x: new Date(2020,05,12 ), y: 2107.25 },
			{ x: new Date(2020,05,15 ), y: 2084.3  },
			{ x: new Date(2020,05,16 ), y: 2076.35 },
			{ x: new Date(2020,05,17 ), y: 2078.25 },
			{ x: new Date(2020,05,18 ), y: 2065.35 },
			{ x: new Date(2020,05,19 ), y: 2092.75 },
			{ x: new Date(2020,05,22 ), y: 2100.8  },
			{ x: new Date(2020,05,23 ), y: 2155.95 },
			{ x: new Date(2020,05,24 ), y: 2130.3  },
			{ x: new Date(2020,05,25 ), y: 2173.15 },
			{ x: new Date(2020,05,26 ), y: 2154.2  },
			{ x: new Date(2020,05,29 ), y: 2182.95 },
			{ x: new Date(2020,05,30 ), y: 2180.0  },
			{ x: new Date(2020,06,01 ), y: 2170.4  },
			{ x: new Date(2020,06,02 ), y: 2151.75 },
			{ x: new Date(2020,06,03 ), y: 2173.7  },
			{ x: new Date(2020,06,06 ), y: 2161.6  },
			{ x: new Date(2020,06,07 ), y: 2154.15 },
			{ x: new Date(2020,06,08 ), y: 2186.05 },
			{ x: new Date(2020,06,09 ), y: 2175.85 },
			{ x: new Date(2020,06,10 ), y: 2223.8  },
			{ x: new Date(2020,06,13 ), y: 2265.25 },
			{ x: new Date(2020,06,14 ), y: 2234.75 },
			{ x: new Date(2020,06,15 ), y: 2275.15 },
			{ x: new Date(2020,06,16 ), y: 2287.85 },
			{ x: new Date(2020,06,17 ), y: 2334.55 },
			{ x: new Date(2020,06,20 ), y: 2330.95 },
			{ x: new Date(2020,06,21 ), y: 2318.0  },
			{ x: new Date(2020,06,22 ), y: 2248.5  },
			{ x: new Date(2020,06,23 ), y: 2211.35 },
			{ x: new Date(2020,06,24 ), y: 2209.3  },
			{ x: new Date(2020,06,27 ), y: 2221.5  },
			{ x: new Date(2020,06,28 ), y: 2242.55 },
			{ x: new Date(2020,06,29 ), y: 2231.3  }
			
		]
	}]
});
chart.render();

	var chart = new CanvasJS.Chart("chartContainer1", {
	title:{
		text: "closing price[min max scaled] vs polarity "
	},
	axisY:[{
		title: "polarity",
		lineColor: "#C24642",
		tickColor: "#C24642",
		labelFontColor: "#C24642",
		titleFontColor: "#C24642",
		includeZero: true,
	},
          ],
	axisY2: {
		title: "closing price",
		lineColor: "#7F6084",
		tickColor: "#7F6084",
		labelFontColor: "#7F6084",
		titleFontColor: "#7F6084",
		includeZero: true,

	},
	toolTip: {
		shared: true
	},
	legend: {
		cursor: "pointer",
		itemclick: toggleDataSeries
	},
	data: [	{
		type: "line",
		name: "polarity",
		color: "#C24642",
		axisYIndex: 0,
		showInLegend: true,
		dataPoints: [
			{ x: new Date(2020, 04, 11 ), y: 0.3375   },
			{ x: new Date(2020, 04, 12 ), y: 0.7      },
			{ x: new Date(2020, 04, 13 ), y: 0.215    },
			{ x: new Date(2020, 04, 14 ), y: 0.3925   },
			{ x: new Date(2020, 04, 15 ), y: 0.430745 },
			{ x: new Date(2020, 04, 18 ), y: 0.148976 },
			{ x: new Date(2020, 04, 19 ), y: 0.200513 },
			{ x: new Date(2020, 04, 20 ), y: 0.352937 },
			{ x: new Date(2020, 04, 21 ), y: 0.221613 },
			{ x: new Date(2020, 04, 22 ), y: 0.251506 },
			{ x: new Date(2020, 04, 26 ), y: 0.078912 },
			{ x: new Date(2020, 04, 27 ), y: 0.263218 },
			{ x: new Date(2020, 04, 28 ), y: 0.382019 },
			{ x: new Date(2020, 04, 29 ), y: 0.308168 },
			{ x: new Date(2020, 05, 01 ), y: 0.150510 },
			{ x: new Date(2020, 05, 02 ), y: 0.389676 },
			{ x: new Date(2020, 05, 03 ), y: 0.495288 },
			{ x: new Date(2020, 05, 04 ), y: 0.475602 },
			{ x: new Date(2020, 05, 05 ), y: 0.322179 },
			{ x: new Date(2020, 05, 08 ), y: 0.379327 },
			{ x: new Date(2020, 05, 09 ), y: 0.287531 },
			{ x: new Date(2020, 05, 10 ), y: 0.515649 },
			{ x: new Date(2020, 05, 11 ), y: 0.515625 },
			{ x: new Date(2020, 05, 12 ), y: 0.326515 },
			{ x: new Date(2020, 05, 15 ), y: 0.435794 },
			{ x: new Date(2020, 05, 16 ), y: 0.249440 },
			{ x: new Date(2020, 05, 17 ), y: 0.467917 },
			{ x: new Date(2020, 05, 18 ), y: 0.317789 },
			{ x: new Date(2020, 05, 19 ), y: 0.157022 },
			{ x: new Date(2020, 05, 22 ), y: 0.363981 },
			{ x: new Date(2020, 05, 23 ), y: 0.349401 },
			{ x: new Date(2020, 05, 24 ), y: 0.305444 },
			{ x: new Date(2020, 05, 25 ), y: 0.340179 },
			{ x: new Date(2020, 05, 26 ), y: 0.387375 },
			{ x: new Date(2020, 05, 29 ), y: 0.322639 },
			{ x: new Date(2020, 05, 30 ), y: 0.280000 },
			{ x: new Date(2020, 06, 01 ), y: 0.524722 },
			{ x: new Date(2020, 06, 02 ), y: 0.463214 },
			{ x: new Date(2020, 06, 03 ), y: 0.525238 },
			{ x: new Date(2020, 06, 06 ), y: 0.119167 },
			{ x: new Date(2020, 06, 07 ), y: 0.396939 },
			{ x: new Date(2020, 06, 08 ), y: 0.271399 },
			{ x: new Date(2020, 06, 09 ), y: 0.264931 },
			{ x: new Date(2020, 06, 10 ), y: 0.249028 },
			{ x: new Date(2020, 06, 13 ), y: 0.316667 },
			{ x: new Date(2020, 06, 14 ), y: 0.469259 },
			{ x: new Date(2020, 06, 15 ), y: 0.405655 },
			{ x: new Date(2020, 06, 16 ), y: 0.351429 },
			{ x: new Date(2020, 06, 17 ), y: 0.360000 },
			{ x: new Date(2020, 06, 20 ), y: 0.700000 },
			{ x: new Date(2020, 06, 21 ), y: 0.150000 },
			{ x: new Date(2020, 06, 22 ), y: 0.500000 },
			{ x: new Date(2020, 06, 23 ), y: 0.159475 },
			{ x: new Date(2020, 06, 24 ), y: 0.741667 },
			{ x: new Date(2020, 06, 27 ), y: 0.478061 },
			{ x: new Date(2020, 06, 28 ), y: 0.802000 },
			{ x: new Date(2020, 06, 29 ), y: 0.428667 }
		]
	},
	{
		type: "line",
		name: "closing price[min max scaled] ",
		color: "#7F6084",
		axisYType: "secondary",
		showInLegend: true,
		dataPoints: [
			{ x: new Date(2020,04,11 ), y: 0.212017 },
			{ x: new Date(2020,04,12 ), y: 0.111783 },
			{ x: new Date(2020,04,13 ), y: 0.068335 },
			{ x: new Date(2020,04,14 ), y: 0.096659 },
			{ x: new Date(2020,04,15 ), y: 0.168294 },
			{ x: new Date(2020,04,18 ), y: 0.094459 },
			{ x: new Date(2020,04,19 ), y: 0.012787 },
			{ x: new Date(2020,04,20 ), y: 0.054860 },
			{ x: new Date(2020,04,21 ), y: 0.000000 },
			{ x: new Date(2020,04,22 ), y: 0.046748 },
			{ x: new Date(2020,04,26 ), y: 0.018974 },
			{ x: new Date(2020,04,27 ), y: 0.074797 },
			{ x: new Date(2020,04,28 ), y: 0.107383 },
			{ x: new Date(2020,04,29 ), y: 0.237729 },
			{ x: new Date(2020,05,01 ), y: 0.378523 },
			{ x: new Date(2020,05,02 ), y: 0.375361 },
			{ x: new Date(2020,05,03 ), y: 0.411385 },
			{ x: new Date(2020,05,04 ), y: 0.411660 },
			{ x: new Date(2020,05,05 ), y: 0.320913 },
			{ x: new Date(2020,05,08 ), y: 0.387185 },
			{ x: new Date(2020,05,09 ), y: 0.372886 },
			{ x: new Date(2020,05,10 ), y: 0.408910 },
			{ x: new Date(2020,05,11 ), y: 0.373986 },
			{ x: new Date(2020,05,12 ), y: 0.374948 },
			{ x: new Date(2020,05,15 ), y: 0.311838 },
			{ x: new Date(2020,05,16 ), y: 0.289977 },
			{ x: new Date(2020,05,17 ), y: 0.295201 },
			{ x: new Date(2020,05,18 ), y: 0.259728 },
			{ x: new Date(2020,05,19 ), y: 0.335075 },
			{ x: new Date(2020,05,22 ), y: 0.357212 },
			{ x: new Date(2020,05,23 ), y: 0.508868 },
			{ x: new Date(2020,05,24 ), y: 0.438334 },
			{ x: new Date(2020,05,25 ), y: 0.556167 },
			{ x: new Date(2020,05,26 ), y: 0.504056 },
			{ x: new Date(2020,05,29 ), y: 0.583116 },
			{ x: new Date(2020,05,30 ), y: 0.575003 },
			{ x: new Date(2020,06,01 ), y: 0.548604 },
			{ x: new Date(2020,06,02 ), y: 0.497319 },
			{ x: new Date(2020,06,03 ), y: 0.557679 },
			{ x: new Date(2020,06,06 ), y: 0.524405 },
			{ x: new Date(2020,06,07 ), y: 0.503919 },
			{ x: new Date(2020,06,08 ), y: 0.591640 },
			{ x: new Date(2020,06,09 ), y: 0.563591 },
			{ x: new Date(2020,06,10 ), y: 0.695449 },
			{ x: new Date(2020,06,13 ), y: 0.809432 },
			{ x: new Date(2020,06,14 ), y: 0.725560 },
			{ x: new Date(2020,06,15 ), y: 0.836656 },
			{ x: new Date(2020,06,16 ), y: 0.871580 },
			{ x: new Date(2020,06,17 ), y: 1.000000 },
			{ x: new Date(2020,06,20 ), y: 0.990100 },
			{ x: new Date(2020,06,21 ), y: 0.954489 },
			{ x: new Date(2020,06,22 ), y: 0.763371 },
			{ x: new Date(2020,06,23 ), y: 0.661213 },
			{ x: new Date(2020,06,24 ), y: 0.655575 },
			{ x: new Date(2020,06,27 ), y: 0.689124 },
			{ x: new Date(2020,06,28 ), y: 0.747009 },
			{ x: new Date(2020,06,29 ), y: 0.716073 }
		]
	}]
});
chart.render();

function toggleDataSeries(e) {
	if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else {
		e.dataSeries.visible = true;
	}
	e.chart.render();
}

}
</script>


        <style>

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
table, th, td {
  border: 1px solid black;
}
#t01 {
  width: 100%;    
  background-color: #f1f1c1;
}
div.gallery {
  margin: 10px;
  border: 5px solid #ccc;
  width: 700px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 400px;
}

div.desc {
  padding: 5px;
  text-align: center;
}


            </style>
        </head>

    <body style="background-color:powderblue;">
    
 <div class="topnav">
          <a href="/">HOME</a>
          <a href="home">PRODUCT DETAILS</a>
          <a href="eda">EDA</a>
          <a class="active" href="stock">STOCK</a>
        </div>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<h1 style="border: 2px solid DodgerBlue; " > By express news serivce : price reduction by HUL from 21st may </h1>

<p>Hindustan Unilever Limited (HUL) said it will reduce prices of personal hygiene products such as lifebuoy sanitizers, Lifebuoy liquid handwash and domex floor cleaners by 15 percent amid the coronavirus crisis. The country’s biggest consumer goods firm said it has committed a total of Rs 100 crore to help in the fight against the pandemic virus. “ In crisis like this, companies have a big role to play . we are working closely with the government and our partners to ensure that we overcome this global health crisis
together,” said Sanjiv mehta., chairman  and managing director, HUL.
</p>

   
    <div id="chartContainer1" style="height: 500px; width: 100%;"></div>
    
    <br>
    
    <div id="chartContainer" style="height: 500px; width: 100%;"></div>

<br>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </body>
</html>